/*BODY*/
#accueil {
    background-color: #c4c4c4;
}

#content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;

}
.album img{
    margin: 30px 0px;
    width: 150px;
}
.nomDeAlbum{
    text-align: center;
    color: black;
}
.chanteur{
    text-align: center;
    color: #ff577F;
}

#row0{
    font-size: 35px;
    margin-left: 2%;
    padding-top: 1%;
    font-stretch: ultra-expanded;
    font-weight: bold;
}
.album a{
    text-decoration: none;
    color: #ff577F;
}
.album a:hover{
    text-decoration: none;
}
.album a:hover .nomDeAlbum{
    font-weight: bold;
}
.album a:hover .chanteur{
    font-weight: bold;
}

#Tencol{
    text-align: center;
    color:#0F1E36;
}
.tenh4{
    font-weight: bold;
    color: #000;
}
#btnten{
    background-color: #E5E5E5;
    outline: none;
    border: none;
}
#btnten:hover {background: #ddd;}

.theme a{
    text-decoration: none;
}
.theme a:hover{
    text-decoration: none;
}
.theme img{
    width: 210px;
    border-radius:8px;
}
.txttheme{
    color:#fff; 
    font-weight: bold; 
    font-size: 20px;
}

.carousel-control-prev, .carousel-control-next {
    margin: auto -70px;
    background-color: #666666;
    width: 50px;
    height: 50px;
}

.wrap-carousel {
    width: 700px;
    margin: 0 auto;
}

.theme img {
    width: 150px;
}

.col-3 a {
    display: block;
    padding-bottom: 15px;
}

@keyframes corner {
    0% {
        border-top-left-radius: 1% 50%;
   }
    12.5% {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
   }
    25% {
        border-top-right-radius: 1% 50%;
   }
    25.001% {
        border-top-right-radius: 50% 1%;
   }
    37.5% {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
   }
    50% {
        border-bottom-right-radius: 50% 1%;
   }
    50.001% {
        border-bottom-right-radius: 1% 50%;
   }
    62.5% {
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
   }
    75% {
        border-bottom-left-radius: 1% 50%;
   }
    75.001% {
        border-bottom-left-radius: 50% 1%;
   }
    87.5% {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
   }
    100% {
        border-top-left-radius: 50% 1%;
   }
}

/*popup se connecter*/
.bg-model {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: none;
}

.model-content {
    width: 700px;
    height: 500px;
    background-color: white;
    opacity: 1;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
}

#close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    opacity: 0.6;
}

#close:hover {
    opacity: 1;
}

#Login {
    border-color: black;
    width: 100%;

    border: 0;
    margin-top: 25px;
}
#Login > legend {
    padding: 0;
    margin: 0 auto;
    font-weight: bold;
    width: fit-content;
    
}
span.frmName {
    background-color: green;
    
}
#frmUsername {
    color: #b3abab;
    width: 400px;
    height: 35px;
    padding: 6px 12px;
    border: 1px solid #b3abab;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 25px;
}

#frmPassword {
    color: #b3abab;
    width: 400px;
    height: 35px;
    padding: 6px 12px;
    border: 1px solid #b3abab;
    margin: 0 auto;
    margin-bottom: 20px;
}
#frmPassword, #frmUsername {
    outline-style: none;
}
#frmPassword:focus, #frmUsername:focus {
    border-color: black;
}
#info {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 400px;
    border: 0;
    font-size: 12px;
}
#btnLogin {
    float: right;
    width: 200px;
    border-radius: 50px;
    height: 40px;
    background-color: #ff577f;
    opacity: 0.6;
    transition: 0.4s;
    font-size: 15px;
    color: white;
    font-weight: bold;
    outline-style: none;
}
#btnLogin:hover {
    background-color: #f8afc0;
    opacity: 1;
}
#checkPwd, #rememberPwd {
    margin-top: 10px;
}

#forgotPwd {
    color: #ff577f;
    text-align: center;
    margin-top: 25px;
    height: fit-content;
    font-size: 12px;
    height: 25px;
}

#noAccount {
    text-align: center;
}

#questionAcc {
    font-weight: bold;
}

#btnSignup {
    color: black;
    background-color: white;
    border:1px solid grey;
    width: 400px;
    border-radius: 50px;
    height: 50px;
    margin-top: 20px;
    opacity: 0.8;
    transition: 0.4s;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    outline-style: none;
}

#btnSignup:hover {
    background-color: gray;
    color: white;
    opacity: 1;
}
#forgotPwd > a {
    text-decoration: none;
}

#forgotPwd > a:hover {
    color: #f58ba4;
}
.line {
    background-color: #b3abab;
    height: 1px;
}

.error {
    color: red;
}