/*BODY*/
#accueil {
    background-color: #c4c4c4;
}

#content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;

}
.album img{
    margin: 30px 0px;
    width: 150px;
}
.nomDeAlbum{
    text-align: center;
    color: black;
}
.chanteur{
    text-align: center;
    color: #ff577F;
}

#row0{
    font-size: 35px;
    margin-left: 2%;
    padding-top: 1%;
    font-stretch: ultra-expanded;
    font-weight: bold;
}
.album a{
    text-decoration: none;
    color: #ff577F;
}
.album a:hover{
    text-decoration: none;
}
.album a:hover .nomDeAlbum{
    font-weight: bold;
}
.album a:hover .chanteur{
    font-weight: bold;
}

#Tencol{
    text-align: center;
    color:#0F1E36;
}
.tenh4{
    font-weight: bold;
    color: #000;
}
#btnten{
    background-color: #E5E5E5;
    outline: none;
    border: none;
}
#btnten:hover {background: #ddd;}

.theme a{
    text-decoration: none;
}
.theme a:hover{
    text-decoration: none;
}
.theme img{
    width: 210px;
    border-radius:8px;
}
.txttheme{
    color:#fff; 
    font-weight: bold; 
    font-size: 20px;
}

.carousel-control-prev, .carousel-control-next {
    margin: auto -70px;
    background-color: #666666;
    width: 50px;
    height: 50px;
}

.wrap-carousel {
    width: 700px;
    margin: 0 auto;
}

.theme img {
    width: 150px;
}

.col-3 a {
    display: block;
    padding-bottom: 15px;
}

@keyframes corner {
    0% {
        border-top-left-radius: 1% 50%;
   }
    12.5% {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
   }
    25% {
        border-top-right-radius: 1% 50%;
   }
    25.001% {
        border-top-right-radius: 50% 1%;
   }
    37.5% {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
   }
    50% {
        border-bottom-right-radius: 50% 1%;
   }
    50.001% {
        border-bottom-right-radius: 1% 50%;
   }
    62.5% {
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
   }
    75% {
        border-bottom-left-radius: 1% 50%;
   }
    75.001% {
        border-bottom-left-radius: 50% 1%;
   }
    87.5% {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
   }
    100% {
        border-top-left-radius: 50% 1%;
   }
}
