/*BODY*/
#content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
}
.album a{
    text-decoration: none;
    color: #ff577F;
}
.album a:hover{
    text-decoration: none;
}
.album a:hover .nomDeAlbum{
    font-weight: bold;
}
.album a:hover .chanteur{
    font-weight: bold;
}
.album img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.nomDeAlbum{
    text-align: center;
    color: black;
}
.chanteur{
    text-align: center;
    color: #ff577F;
    padding-bottom: 30px;
}
#row0{
    font-size: 35px;
    margin-left: 2%;
    padding-top: 1%;
    font-stretch: ultra-expanded;
    font-weight: bold;
}

.formartist{
    border-radius:100px;
}

#row1, #row2, #row3 {
    width: 800px;
    margin-left: 30px;
}

.wrap-carousel {
    width: 770px;
    margin: 0 auto;
}

.carousel-control-prev, .carousel-control-next {
    margin: auto -70px;
    background-color: #666666;
    width: 50px;
    height: 50px;
}

@keyframes corner {
    0% {
        border-top-left-radius: 1% 50%;
   }
    12.5% {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
   }
    25% {
        border-top-right-radius: 1% 50%;
   }
    25.001% {
        border-top-right-radius: 50% 1%;
   }
    37.5% {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
   }
    50% {
        border-bottom-right-radius: 50% 1%;
   }
    50.001% {
        border-bottom-right-radius: 1% 50%;
   }
    62.5% {
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
   }
    75% {
        border-bottom-left-radius: 1% 50%;
   }
    75.001% {
        border-bottom-left-radius: 50% 1%;
   }
    87.5% {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
   }
    100% {
        border-top-left-radius: 50% 1%;
   }
}

@media screen and (max-width: 1100px) {
    #row0 {
        font-size: 23px;
    }

    .row img {
        width: 100px;
        height: 100px;
    }

    #row1, #row2, #row3 {
        width: 100%;
        margin: 0;
    }

    .wrap-carousel {
        width: 100%;
    }

    .carousel-control-prev, .carousel-control-next {
        margin: auto 0px;
        width: 50px;
        height: 50px;
    }
}