/* playlist */
#playlist {
    background-color: #c4c4c4;
}

.categoriesSelection a:hover {
    text-decoration: none;
    color: black;
}

.wrap-vos-playlists label {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10%;
    padding-bottom: 50px;
    margin-top: 30px;
}

.playlists {
    width: 700px;
    margin: 0 auto;
}

#playlist1 {
    float: left;
}

#playlist2 {
    float: left;
}

#playlist3 {
    float: left;
}

#playlist4 {
    float: left;
}

.playlists img {
    height: 150px;
    width: 150px;
}

.playlist-block {
    padding-right: 25px;
    text-align: center;
    font-weight: bold;
}

.playlist-block a:hover{
    text-decoration: none;
    color: #ff577F;
}
/* end of playlist */
/* recommandations  */
.wrap-list-recommandations label {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10%;
    padding-bottom: 50px;
    margin-top: 30px;
}

.wrap-recommandations .carousel-inner {
    width: 800px;
    margin-left: 63px;
}
.wrap-recommandations .carousel-control-next, .wrap-recommandations .carousel-control-prev {
    background-color: #666666;
    width: 50px;
    height: 50px;
    margin-top: 50px;
}

#carouselExampleControls1 {
    width: 900px;
    margin: 0 auto;
}

#carouselExampleControls2 {
    width: 900px;
    margin: 0 auto;
}

#carouselExampleControls3 {
    width: 900px;
    margin: 0 auto;
}

#carouselExampleControls4 {
    width: 900px;
    margin: 0 auto;
}

.album {
    padding: 0;
    text-align: center;
}

.album img {
    height: 150px;
    width: 150px;
}

.chanteur {
    font-size: 13px;
    color: #ff577F;
    font-weight: lighter;
    text-align: center;
}

.nomDeAlbum {
    font-size: 13px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.album a:hover {
    text-decoration: none;
    font-weight: bold;
}

@keyframes corner {
    0% {
        border-top-left-radius: 1% 50%;
   }
    12.5% {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
   }
    25% {
        border-top-right-radius: 1% 50%;
   }
    25.001% {
        border-top-right-radius: 50% 1%;
   }
    37.5% {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
   }
    50% {
        border-bottom-right-radius: 50% 1%;
   }
    50.001% {
        border-bottom-right-radius: 1% 50%;
   }
    62.5% {
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
   }
    75% {
        border-bottom-left-radius: 1% 50%;
   }
    75.001% {
        border-bottom-left-radius: 50% 1%;
   }
    87.5% {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
   }
    100% {
        border-top-left-radius: 50% 1%;
   }
}
/* end of recommandations */

@media screen and (max-width: 1100px) {
    .wrap-list-recommandations label, .wrap-vos-playlists label {
        font-size: 20px;
        padding: 0;
    }

    .playlists {
        margin-left: 20px;
        width: 100%;
    }

    .playlists img {
        height: 100px;
        width: 100px;
    }

    .album img {
        height: 100px;
        width: 100px;
    }

    #carouselExampleControls2, #carouselExampleControls3, #carouselExampleControls4{
        width: 100%;
       
    }

    .wrap-recommandations .carousel-inner {
        width: 100%;
        margin: 0;
    }
}