/*BODY*/
#body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    position: relative;
}
.row .col{
    width: 140px;
    text-align: center;
}
.album img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
}
.nomDeAlbum{
    text-align: center;
    color: black;
}
.chanteur{
    text-align: center;
    color: #ff577F;
}
#VNMusique{
    margin-top: 1%;
}
#row1 {
    padding-top: 1%;
    font-stretch: ultra-expanded;
    font-weight: bold;
    margin-left: 0 auto;
}
#row1 ul li{
    font-weight: bold;
    font-size: 26px;
    list-style: none;
    float: left;
    margin: 0 2em;
    padding-left: 8px;
}
#main{
    color: #ff577F;
}
.album a{
    text-decoration: none;
    color: #ff577F;
}
.row{
    margin-top: 1%;
}
.album a:hover{
    text-decoration: none;
}
.album a:hover .nomDeAlbum{
    font-weight: bold;
}
.album a:hover .chanteur{
    font-weight: bold;
}
.row .col ul li a:hover{
    text-decoration: none;
    color: #ff577F;
}

@keyframes corner {
    0% {
        border-top-left-radius: 1% 50%;
   }
    12.5% {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
   }
    25% {
        border-top-right-radius: 1% 50%;
   }
    25.001% {
        border-top-right-radius: 50% 1%;
   }
    37.5% {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
   }
    50% {
        border-bottom-right-radius: 50% 1%;
   }
    50.001% {
        border-bottom-right-radius: 1% 50%;
   }
    62.5% {
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
   }
    75% {
        border-bottom-left-radius: 1% 50%;
   }
    75.001% {
        border-bottom-left-radius: 50% 1%;
   }
    87.5% {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
   }
    100% {
        border-top-left-radius: 50% 1%;
   }
}
  
@media screen and (max-width: 1100px) {
    #row1, #row2, #row3, #row4 {
        margin: 0;
    }

    #row1 ul li {
        font-size: 18px;
        margin: 0;
        justify-content: space-around;
    }

    .album img {
        width: 120px;
        height: 120px;
    }

    #row1 .col {
        width: 100%;
        padding: 0;
    }
}