
#Tencol{
    text-align: center;
    color:#0F1E36;
}
.tenh4{
    font-weight: bold;
    color: #000;
}
button[name="button"]{
    background-color: #E5E5E5;
    outline: none;
    border: none;
}
#btnten:hover {background: #ddd;}


#row0{
    font-size: 35px;
    margin-left: 2%;
    padding-top: 1%;
    font-stretch: ultra-expanded;
    font-weight: bold;
}

.col-3 a {
    display: block;
    padding-bottom: 15px;
}

#tendances {
    background-color: #c4c4c4;
}
